$colors : #9B59B6, #3498DB, #E74C3C, #1ABC9C;
$basecolors : #3498DB, #E74C3C, #1ABC9C, #9B59B6;

/***PAGE & BASE COLORS *****/
@for $i from 1 through length($colors) {
    .page:nth-child(#{length($colors)}n+#{$i}) {
        background: nth($colors, $i)
    }
}
/** If the number of pages is more than the number 
**  of colors we have to loop twice. 
**  As the #base elements are nested so we cant 
**  use :nth-child like pages
***************************************************/
@for $i from 1 through length($basecolors) {
    #base#{$i}{
		background: nth($basecolors, $i);
	}
	#base#{$i+length($basecolors)}{
		background: nth($basecolors, $i);
	}
}