/**** Progress Bar ****/

#progress{position:fixed; height:80%; width:1%;  left:5%; top:7%;}

#progress-holder{position:relative; height:100%; margin:0;}
.ball{  
		width:25px; 
		height:25px; 
		border-radius:50%; 
		background:transparent; 
		border:3px solid $navinactive; 
		position:absolute; left:-10px; 
		z-index:2; 
		cursor:pointer;
		text-align:center;
&:after{ 
		content:attr(caption);
		 left:25px;
		 color: $navinactive; 
		 position:relative;}
}
#activeball{
	width:25px; 
	height:25px; 
	border-radius:50%; 
	left:-10px; 
	position:absolute;
	background:$navactive;}
