$smapad: 10px;
$medpad: 30px;
$larpad: 50px;
.padbotlar{
	padding-bottom:$larpad;
}
.padbotmed{
	padding-bottom:$medpad;
}
.padbotsma{
	padding-bottom:$smapad;
}
.padtoplar{
	padding-top:$larpad;
}
.padtopmed{
	padding-top:$medpad;
}
.padtopsma{
	padding-top:$smapad;
}
.padleftlar{
	padding-left:$larpad;
}
.padleftmed{
	padding-left:$medpad;
}
.padleftsma{
	padding-left:$smapad;
}
.padriglar{
	padding-right:$larpad;
}
.padrigmed{
	padding-right:$medpad;
}
.padrigsma{
	padding-right:$smapad;
}