html, body{ font-family: 'Roboto', sans-serif; color:$dark;}
.fontstyle{font-family: 'Courgette', cursive;}
.__textlight{
	color:$dark;
}
.__textdark{
	colro:$light;
}
.__textcenter{
	 text-align:center;
}
.__fonthug{
	font-size:55px;
}
.__fontlar{
	font-size:35px;
}
.__fontmed{
	font-size:25px;
}
.__fontsma{
	font-size:15px;
}