html, body{ font-family: 'Roboto', sans-serif; color:$dark;}
$vlarge:55px;
$large:35px;
$med:25px;
$small:15px;
h1,h2,h3,h4,h5{ margin-top:0;}
h2, h4{text-decoration: underline;}
h1{font-size: $vlarge;}
h2{font-size: $large;}
h3{font-size: $med;}
h4{font-size: $small;}
h5{font-size: $small;}
.fontstyle{font-family: 'Courgette', cursive;}
.textlight{
	color:$dark;
}
.textdark{
	color:$light;
}
.textcenter{
	 text-align:center;
}
.textright{
	text-align:right;
}
.fonthug{
	font-size:$vlarge;
}
.fontlar{
	font-size:$large;
}
.fontmed{
	font-size:$med;
}
.fontsma{
	font-size:$small;
}